@import"zmienne"; 

*{
   margin: 0;
   padding: 0;
   font-family: 'Bebas Neue';
   scroll-behavior: smooth;
   position: relative;
   box-sizing: border-box;
   font-size: 1.1rem;
}

 body {
   background-image: url(../../photos/pixelmin.jpg);
   background-size: 100%;
   padding: 15px;
}

header{
   
   height: 40em;
   background-image: url(../../photos/office.jpg);
   background-size: cover;
   margin: -15px;

   #navig {
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba($color: black, $alpha: 0.7);
      z-index: 10;
      list-style-type: none;
      display: flex;
      height: 3em;
      align-items: center;
      place-content: center;
      animation-duration: 1.2s;
      animation-timing-function: ease-in-out;
      animation-name: nav-appear;

      @keyframes nav-appear {
         from {
            margin-top: 0%;
            height: 0;
         }
             
         to {
            margin-top: 0%;
            height: 70px;
         }      
      }

         #logo-name {
            width: 40%;
            padding-inline: 5em;
            color: white;
            text-align: center;
         }
         li {
            width: 12%;
            flex-wrap: wrap;
            text-align: center;

            a {
               padding: 15px;
               transition: all 1s;
               color: white;

               &:hover {
                  color: black;
                  background-color: white;
                  padding: 13px;
                  text-decoration: none;
               }
            }
         }
      }

   h1 {
      font-size: 2.5rem;
      width: 50%;
      height: 100%;
      text-align-last: center;
      padding-top: 8em;
      animation-name: appear;
      animation-timing-function: ease-in-out;
      animation-duration: 1.2s;
      color: white;

      @keyframes appear {
         from {
            margin-top: 0%;
            height: 0;
         }
             
         to {
            margin-top: 0%;
            height: 100%;
         }          
      }
   }

   @media only screen and (max-width: 767px) {
         height: 30em;

         #navig {
            display: none;
         }
         h1 {
            padding-top: 3em;
            width: 100%;
         }
   }
}


section#About {
   text-align: center;
   padding-top: 5em;
   animation-duration: 1.2s;
   animation-timing-function: ease-in-out;
   animation-name: nav-appear;

   @keyframes nav-appear {
      from {
         margin-top: 0%;
         height: 0;
      }
          
      to {
         margin-top: 0%;
         height: 70px;
      }      
   }

   #facephoto {
      padding: 2em;
   }
}

@mixin cont {
   text-align: center;
   padding-block: 5em;
   color: black;
   text-shadow: 1px 1px white;
   background-color: whitesmoke;
   margin: 10px;
   border: solid;
}

section#Programming {

   #program {
      width: 100%;
      padding-top: 3em;
      padding-bottom: 1em;
      text-align: center;
   }

   .row {
      place-content: center;
      padding-inline: 0px;

      i {
         padding: 15px;
      }

      #ctech{
         @include cont;
   
         li{
            width: 18%;
            display: inline-flex;
            place-content: center;
            padding-block: 10px;
         }
      }
   
   
      #cux {
      @include cont;
      }

      #crwd {
         @include cont;
         }
   }
}


@mixin photo {
   width: 40vh;
   height: 53vh;
   padding: 3px;
}

section#Hobby {
   padding-block: 5em;
   place-content: center;
   text-align: -webkit-center;

   #chobby {
   
      p{
         width: 100%;
         padding: 2em
      }
   
      img{
         @include photo;
         border: solid;
         margin: 15px;
      }
   }
}

footer {
   text-align: center;
   padding-top: 3em;
   color: black;
   .icons {
      padding:10px;
      
      a{
         padding: 3em;
         color: black;

         &:hover {
            color: darkcyan;

         }
      }
   }
   .copyright {
      padding-top: 3em;
      font-size: small;
   }
}