@import"zmienne"; 

@mixin sekcja {
   text-align: center;
   box-sizing: border-box;
   margin-bottom: 20px;
}

@mixin photo {
   width: 35vh;
   height: 40vh;
   padding: 10px;
}

*{
   margin: 0;
   padding: 0;
   font-family: 'Bebas Neue';
   scroll-behavior: smooth;
   position: relative;
}

body {
   background-image: url(../../photos/background.png);
   background-size: 100%;
}

header{
   
   height: 40em;
   background-image: url(../../photos/background1.jpg);
   background-size: 100%;

   #navig {
      list-style-type: none;
      display: flex;
      height: 60px;
      align-items: center;
      place-content: center;

         #logo-name {
            padding-inline: 10em;
         }

         li {
            width: 10%;
            flex-wrap: wrap;

            a {
               padding: 15px;
               transition: all 0.5s;
               color: black;

               &:hover {
                  color: white;
                  background-color: black;
                  padding: 5px;
                  text-decoration: none;
               }
            }
          }
      }
   h1 {
      font-size: 2.5rem;
      width: 50%;
      height: 100%;
      text-align-last: center;
      padding-top: 5em;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-name: appear;

      @keyframes appear {
         from {
            margin-right: 0%;
            width: 100%;
         }
             
         to {
            margin-left: 0%;
            width: 50%;
         }
            
      }
      
   }

}

@media (max-width: 786px) {

}

section {
   @include sekcja;
   #about {


   #container-about-row {
      justify-content: right;

      #about-inner {
         text-align: -webkit-center;
         margin: 10px;
         font-family: sans-serif;
   
            #face-photo {
               padding: 20px;
            }
         }
   }

   }
}

#container-travelling-row {
   width: 100%;
   place-content: center;

   p{
      width: 100%;
   }

   img{
      @include photo;
   }
}

section {
   
   .sport {
   
   img {
   @include photo;
       }
   }
}

footer {
   text-align: center;

   .icons {
      padding:10px;
      
      a{
         padding: 10px;
      }
   }
}