@import"zmienne"; 

@mixin photo {
   width: 35vh;
   height: 40vh;
   padding: 10px;
}

*{
   margin: 0;
   padding: 0;
   font-family: 'Bebas Neue';
   scroll-behavior: smooth;
   position: relative;
   box-sizing: border-box;
   font-size: 1.1rem;
}

// body {
//    background-image: url(../../photos/background.png);
//    background-size: 100%;
// }

header{
   
   height: 40em;
   background-image: url(../../photos/office.jpg);
   background-size: cover;

   #navig {
      list-style-type: none;
      display: flex;
      height: 70px;
      align-items: center;
      place-content: center;
      animation-duration: 1.2s;
      animation-timing-function: ease-in-out;
      animation-name: nav-appear;

      @keyframes nav-appear {
         from {
            margin-top: 0%;
            height: 0;
         }
             
         to {
            margin-top: 0%;
            height: 70px;
         }      
      }

         #logo-name {
            width: 40%;
            padding-inline: 5em;
            color: white;
         }

         li {
            width: 10%;
            flex-wrap: wrap;
            text-align: center;

            a {
               padding: 15px;
               transition: all 1s;
               color: white;

               &:hover {
                  color: black;
                  background-color: white;
                  padding: 13px;
                  text-decoration: none;
               }
            }
         }
      }

   h1 {
      font-size: 2.5rem;
      width: 50%;
      height: 100%;
      text-align-last: center;
      padding-top: 5em;
      animation-name: appear;
      animation-timing-function: ease-in-out;
      animation-duration: 1.2s;
      color: white;

      @keyframes appear {
         from {
            margin-top: 0%;
            height: 0;
         }
             
         to {
            margin-top: 0%;
            height: 100%;
         }          
      }
   }
}

@media (max-width: 786px) {

}

section#About {
   text-align: center;
   padding-block: 5em;

   h2 {

   }

   #facephoto {
      padding: 2em;
   }
   
   p {

   }
}

section#Technology {
   text-align: center;
   padding-block: 5em;
   background-image: url(../../photos/leather.jpg);
   color: white;

   li{
      width: 18%;
      display: inline-flex;
      place-content: center;
      padding-block: 10px;
   }
}


section#Hobby {
   padding-block: 5em;
   place-content: center;
   text-align: -webkit-center;

   #container-hobby-row {
      width: 100%;
      place-content: center;
   
      p{
         width: 100%;
      }
   
      img{
         @include photo;
      }
   }

   .sport {
   
      img {
      @include photo;

      }
   }
}


footer {
   text-align: center;
   padding-block: 5em;
   background-color: grey;

   .icons {
      padding:10px;
      
      a{
         padding: 10px;
      
      }
   }
}