* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue";
  scroll-behavior: smooth;
}

header {
  height: 100vh;
}
header #navig {
  background-color: #b9b9b9;
  list-style-type: none;
  display: flex;
  justify-content: right;
  height: 40px;
  align-items: center;
}
header #navig #logo-name {
  padding-right: 500px;
}
header #navig li {
  width: 10%;
  flex-wrap: wrap;
}
header #navig li a {
  padding: 15px;
  transition: all 0.5s;
}
header #navig li a:hover {
  color: white;
  background-color: blue;
  padding: 5px;
  text-decoration: none;
}
header h1 {
  font-size: 2.5rem;
  width: 50%;
  padding-top: 50vh;
  height: 100%;
  text-align-last: center;
}

section {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
section #about-inner {
  text-align: -webkit-center;
  margin: 10px;
  font-family: sans-serif;
}
section #about-inner #face-photo {
  padding: 20px;
}