* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue";
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
  font-size: 1.1rem;
}

body {
  background-image: url(../../photos/pixelmin.jpg);
  background-size: 100%;
  padding: 15px;
}

header {
  height: 40em;
  background-image: url(../../photos/office.jpg);
  background-size: cover;
  margin: -15px;
}
header #navig {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  list-style-type: none;
  display: flex;
  height: 3em;
  align-items: center;
  place-content: center;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-name: nav-appear;
}
@keyframes nav-appear {
  from {
    margin-top: 0%;
    height: 0;
  }
  to {
    margin-top: 0%;
    height: 70px;
  }
}
header #navig #logo-name {
  width: 40%;
  padding-inline: 5em;
  color: white;
  text-align: center;
}
header #navig li {
  width: 12%;
  flex-wrap: wrap;
  text-align: center;
}
header #navig li a {
  padding: 15px;
  transition: all 1s;
  color: white;
}
header #navig li a:hover {
  color: black;
  background-color: white;
  padding: 13px;
  text-decoration: none;
}
header h1 {
  font-size: 2.5rem;
  width: 50%;
  height: 100%;
  text-align-last: center;
  padding-top: 8em;
  animation-name: appear;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  color: white;
}
@keyframes appear {
  from {
    margin-top: 0%;
    height: 0;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  header {
    height: 30em;
  }
  header #navig {
    display: none;
  }
  header h1 {
    padding-top: 3em;
    width: 100%;
  }
}

section#About {
  text-align: center;
  padding-top: 5em;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-name: nav-appear;
}
@keyframes nav-appear {
  from {
    margin-top: 0%;
    height: 0;
  }
  to {
    margin-top: 0%;
    height: 70px;
  }
}
section#About #facephoto {
  padding: 2em;
}

section#Programming #program {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}
section#Programming .row {
  place-content: center;
  padding-inline: 0px;
}
section#Programming .row i {
  padding: 15px;
}
section#Programming .row #ctech {
  text-align: center;
  padding-block: 5em;
  color: black;
  text-shadow: 1px 1px white;
  background-color: whitesmoke;
  margin: 10px;
  border: solid;
}
section#Programming .row #ctech li {
  width: 18%;
  display: inline-flex;
  place-content: center;
  padding-block: 10px;
}
section#Programming .row #cux {
  text-align: center;
  padding-block: 5em;
  color: black;
  text-shadow: 1px 1px white;
  background-color: whitesmoke;
  margin: 10px;
  border: solid;
}
section#Programming .row #crwd {
  text-align: center;
  padding-block: 5em;
  color: black;
  text-shadow: 1px 1px white;
  background-color: whitesmoke;
  margin: 10px;
  border: solid;
}

section#Hobby {
  padding-block: 5em;
  place-content: center;
  text-align: -webkit-center;
}
section#Hobby #chobby p {
  width: 100%;
  padding: 2em;
}
section#Hobby #chobby img {
  width: 40vh;
  height: 53vh;
  padding: 3px;
  border: solid;
  margin: 15px;
}

footer {
  text-align: center;
  padding-top: 3em;
  color: black;
}
footer .icons {
  padding: 10px;
}
footer .icons a {
  padding: 3em;
  color: black;
}
footer .icons a:hover {
  color: darkcyan;
}
footer .copyright {
  padding-top: 3em;
  font-size: small;
}