* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue";
  scroll-behavior: smooth;
  position: relative;
  box-sizing: border-box;
  font-size: 1.1rem;
}

header {
  height: 40em;
  background-image: url(../../photos/office.jpg);
  background-size: cover;
}
header #navig {
  list-style-type: none;
  display: flex;
  height: 60px;
  align-items: center;
  place-content: center;
}
header #navig #logo-name {
  padding-inline: 10em;
  color: white;
}
header #navig li {
  width: 10%;
  flex-wrap: wrap;
}
header #navig li a {
  padding: 15px;
  transition: all 0.5s;
  color: white;
}
header #navig li a:hover {
  color: black;
  background-color: white;
  padding: 5px;
  text-decoration: none;
}
header h1 {
  font-size: 2.5rem;
  width: 50%;
  height: 100%;
  text-align-last: center;
  padding-top: 5em;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-name: appear;
  color: white;
}
@keyframes appear {
  from {
    margin-right: 0%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 50%;
  }
}

section#About {
  text-align: center;
  padding-block: 5em;
}
section#About #facephoto {
  padding: 2em;
}
section#Technology {
  text-align: center;
  padding-bottom: 5em;
}
section#Technology li {
  width: 18%;
  display: inline-flex;
  place-content: center;
  padding-block: 10px;
}

section#Hobby {
  padding-bottom: 5em;
}
section#Hobby #container-hobby-row {
  width: 100%;
  place-content: center;
}
section#Hobby #container-hobby-row p {
  width: 100%;
}
section#Hobby #container-hobby-row img {
  width: 35vh;
  height: 40vh;
  padding: 10px;
}
section#Hobby .sport img {
  width: 35vh;
  height: 40vh;
  padding: 10px;
}

footer {
  text-align: center;
  padding-bottom: 5em;
}
footer .icons {
  padding: 10px;
}
footer .icons a {
  padding: 10px;
}